$blueLad: #1963F7;

a {
    text-decoration: none !important;
    &:hover {
        text-decoration: none;
        color: $blueLad;
    }
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Lora", serif !important;
    a{
        color: rgb(33, 37, 41) !important;
        &:hover{
            color: $blueLad !important;
        }
    }
}

h1{
    margin-bottom: 3rem !important;
    @media (min-width: 576px) {
        margin-bottom: 3rem !important;
    }
    
}
h2{
    font-weight: 200 !important;
}


blockquote{
    padding-left: 1rem !important;
    margin-left: 1rem !important;
    margin-right: 2rem !important;
    border-left: 1px solid $blueLad;
}