---
import SectionIndex from "@user/components/SectionIndex.astro"

export const prerender = true
---

<SectionIndex
  collection="blog"
  title="Il Blog del LAD"
  description="Il blog è una delle sezioni più dinamiche del LAD: Laboratorio di Archeologia Digitale alla Sapienza in quanto raccoglie contributo di varia lunghezza conteneneti recensioni, notizie, tutorial, appunti e note relative a progetti, tecnologie, strummenti, standard in uso nel campo della ricerca archeologica. Si tratta di uno spazio aperto e collaboratico, per il quale accettiamo e stimoliamo contribuzioni esterne, per le quali vi preghiamo di scrivere a julian.bogdani@uniroma1.it."
>
  <h1>Il blog del LAD</h1>
  <p class="lead">
    <p class="lead">
      Il blog è una delle sezioni più dinamiche del LAD: Laboratorio di
      Archeologia Digitale alla Sapienza in quanto raccoglie contributo di varia
      lunghezza conteneneti recensioni, notizie, tutorial, appunti e note
      relative a progetti, tecnologie, strummenti, standard in uso nel campo
      della ricerca archeologica. Si tratta di uno spazio aperto e
      collaboratico, per il quale accettiamo e stimoliamo contribuzioni esterne,
      per le quali vi preghiamo di scrivere a <a
        href="mailto:julian.bogdani@uniroma1.it">julian.bogdani@uniroma1.it</a
      >.
    </p>
  </p>
</SectionIndex>
