---
import SectionIndex from '@user/components/SectionIndex.astro';

export const prerender = true;
---

<SectionIndex
  collection='ricerca'
  title="Ricerca"
  description="Ricerca di LAD: Linee di ricerca, progetti sul campo e in laboratorio, idee collaborazioni e molto altro"
>
    <div class="lead">
      Le linee di ricerca del LAD: Laboratorio di Archeologia Digitale alla
      Sapienza coprono varie tematiche e aree applicative: dalla ricerca sul
      campo, allo sviluppo, laboratori e vari servizi web. Di seguitio
      riportiamo i nostri progetti più importanti.
    </div>
</SectionIndex>