---
import SectionIndex from "../../components/SectionIndex.astro"

export const prerender = true
---

<SectionIndex
  collection="didattica"
  title="La didattica del LAD"
  description="Scopri i laboratori didattici del LAD alla Sapienza: corsi pratici su GIS, banche dati archeologiche, Laser Aided Profiler e Computer Vision. Formazione avanzata per dottorato e specializzazione in archeologia digitale"
>
  <img src="./didattica.jpg" class="img-fluid mb-5" alt="La didattica del LAD" />
  <h1>
    Laboratori didattici: GIS, Banche dati relazionali per l'Archeologia, Laser
    Aided Profiler, Intelligenza Artificiale
  </h1>

  <p class="lead">
    Dal 2017 viene organizzato presso la Sapienza un laboratorio pratico di
    <em>alfabetizzazione</em> sulle tecnologie relative ai Sistemi Informativi Geografici
    (GIS), con particolare riguardo al software libero
    <a href="https://www.qgis.org/" target="_blank" referrerpolicy="no-referrer"
      >QGIS</a
    >. Il laboratorio si pone l’obiettivo di fornire le basi teoriche e pratiche
    necessarie per impostare e sviluppare indipendentemente i propri progetti
    GIS e affrontare il mondo della cartografia numerica. Il laboratorio è
    destinato principalmente agli iscritti alla Sapienza Università di Roma, ma
    è aperto anche a interessati, studenti o professionisti esterni. A causa
    della pandemia l'edizione 2020 si è tenuta
    <em>online</em>. Nelle ultime edizioni, il laboratorio GIS è stato
    affiancato da incontri dedicati alla progettazione, implementazione e
    utilizzo delle banche dati relazioni, con una introduzione al linguaggio
    SQL. In particolare i partecipanti hanno imparato a progettare costruire e
    implementare una banca dati relazionale online usando
    <a href="/ricerca/bradypus-cloud-databases/">Bradypus</a>, un software
    sviluppato e mantenuto dal LAD per la facile gestione <em>online</em> di banche
    dati archeologiche e più in generale legate al mondo dei Beni Culturali.
  </p>
  <h3>Edizione 2025-2026</h3>
  <p>
    Stiamo lavorando per la definzione del calendario dei <strong
      >Laboratori Didattici di Archeologia Digitale</strong
    > per l'anno accademico 2025-2026. Come l'anno precedente, la didattica dovrebbe
    riguardare i seguenti moduli:
  </p>
  <ul>
    <li>
      GIS di Base 👉 <a href="./lad-didattica-2025-2026-gis-db/">Iscrizioni chiuse il 6 gennaio 2026!</a>
    </li>
    <li>
      GIS avanzato 👉 <a href="./lad-didattica-2025-2026-gis-avanzato/">Iscrizioni chiuse il 6 gennaio 2026!</a>
    </li>
    <li>
      Banche dati relazionali 👉 <a href="./lad-didattica-2025-2026-banche-dati/">Iscrizioni chiuse il 6 gennaio 2026!</a>
    </li>
    <li>
      Laser Aided Profiler (LAP) 👉 <a href="./lad-didattica-2025-2026-lap/">Iscrizioni chiuse per raggiungimento del numero massimo dei partecipanti</a>
    </li>
    <li>
      Deep Learning per la classificazione della ceramica archeologica 👉 <a href="./lad-didattica-2025-2026-ia/">Iscrizioni chiuse per raggiungimento del numero massimo dei partecipanti</a>
    </li>
  </ul>
  <p>
    Tutte le informazioni necessarie per l'iscrizione verranno pubblicate in
    questa pagina, man-mano che la programmazione e il calendario dei vari
    moduli vengono definiti.
  </p>
</SectionIndex>
